body {
    background-color: black;
    background-image: url(/assets/images/twitter-large.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    color: black;
}

header {
    margin: 30px auto;
    width: 100%;
    text-align: center;
}

header h1 {
    color: #E4E4E4;
    font-size: 2.8em;
}

form {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 40%;
}

form input[type=submit] {
    margin-left: 35px;

    border: 0;
    background: 0;

    height: 45px;
    width: 45px;

    background-image: url(/assets/images/twitter-icon.png);
    background-size: contain;
    background-repeat:no-repeat;

    cursor: pointer;
}

#tweetLogin {
    width: 80%;
    height: 40px;
    font-size: 1.2em;
    text-align: center;
}

table {
    text-align: center;
    width: 40%;
    margin: 20px auto;
    border-collapse: collapse;
    border: solid 3px #E4E4E4;
}

th {
    font-size: 1.2em;
    padding: 8px;
    border: solid 2px #E4E4E4;
}

td {
    padding: 5px;
    border: solid 2px #E4E4E4;
}

table td:nth-child(2) {
    font-weight: bold;
}

table td:nth-child(3) {
    font-size: .9em;
}